{% if not form.vars.valid %}
    <div class="alert alert-danger alert-sm p-2 m-2 small" role="alert" style="font-size: 0.9rem;">
        <div class="fw-semibold mb-1 text-center"><i class="bi bi-exclamation-circle me-1"></i> Des erreurs ont été détectées</div>
    </div>
{% endif %}
