{% block form_row %}
    <div class="input-group {% if form.vars.name == 'date' %}input-group-sm m-auto input-form-date my-3{% endif %}">
        <span class="input-group-text">{{ form_label(form) }}</span>
        {{ form_widget(form, {
            'attr': {
                'class': (form.vars.errors|length > 0 ? 'form-control is-invalid' : 'form-control'),
            }
        }) }}

        {% if form.vars.errors|length > 0 %}
            <div class="invalid-feedback d-block">
                {{ form_errors(form) }}
            </div>
        {% endif %}
    </div>
{% endblock %}
