.form-password-toggle {
    position: relative;
}
.form-password-toggle input {
    padding-right: 2.5rem;
}
.form-password-toggle input,
.form-password-toggle .form-control {
    display: block;
    padding-right: 2.5rem;
    height: calc(1.5em + .75rem + 2px);
}
.password-toggle-btn {
    position: absolute;
    right: 0.75rem;
    top: 55%;
    background: none;
    border: none;
    padding: 0;
    color: #6c757d;
}

.illustration {
    display: flex;
}
.illustration img {
    max-width: 600px;
    height: auto;
}

@media (max-width: 991px) {
    .illustration img {
        max-width: 400px;
    }
}
@media (max-width: 874px) {
    .text-muted {
        width: 300px;
    }
}
@media (max-width: 768px) {
    .illustration {
        display: none;
    }
}
