{% extends 'emails/base_email.html.twig' %}

{% block title %}Confirmation de votre adresse e-mail{% endblock %}

{% block body %}
    <h1>Bienvenue sur TimeBoard</h1>

    <p>Bonjour {{ user.firstName|capitalize }},</p>

    <p>Merci de vous être inscrit sur <strong>TimeBoard</strong>. Afin de valider votre compte, veuillez confirmer votre adresse email en cliquant sur le bouton ci-dessous :</p>

    <p style="text-align: center;">
        <a href="{{ signedUrl|raw }}" class="button">Confirmer mon adresse email</a>
    </p>

    <p>Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.</p>

    <p>Si vous n'êtes pas à l'origine de cette inscription, vous pouvez ignorer cet email.</p>
{% endblock %}
