{% extends 'emails/base_email.html.twig' %}

{% block title %}Réinitialisation de votre mot de passe{% endblock %}

{% block body %}
    <h1>Réinitialisation de votre mot de passe</h1>

    <p>Bonjour,</p>

    <p>Vous avez demandé à réinitialiser votre mot de passe sur <strong>TimeBoard</strong>.</p>

    <p style="text-align: center;">
        <a href="{{ resetUrl }}" class="button">Réinitialiser mon mot de passe</a>
    </p>

    <p>Ce lien expirera dans 1 heure.</p>

    <p>Si vous n'êtes pas à l'origine de cette demande, vous pouvez ignorer cet email.</p>
{% endblock %}
