<!DOCTYPE html>
<html lang="fr">
<body>
<p>Bonjour {{ submission.getWorkMonth().getUser().getFirstName() }},</p>

<p>Ci-joint le rapport de travail pour le mois de
    {{ submission.getWorkMonth().getMonth() }}/{{ submission.getWorkMonth().getYear() }}.</p>

<p>Cordialement,<br>Service TimeSheetBoard</p>
</body>
</html>
